#main {
    margin-right: auto;
    width: 70%;
}

.short_input {
    width: 30px;
}

.item {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

.cart {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: #E8E8E8;
    min-width: 30%;
}

.btn-group-xs > .btn, .btn-xs {
  font-size  : .875rem;
  line-height  : .75;
  border-radius : .2rem;
}